<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Negocio</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Correo" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Contraseña" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="identificar()">Identifícame</button>
        </label>

        <div class="item item-divider"> 
          Registrar negocio
        </div>
        
        <label class="item item-input">
          <span class="input-label">Clave de registro</span>
          <input type="text" ng-model="loginData.key">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" ng-click="registraUsuario()">Registrate</button>
        </label>
        <label class="item">
          <p>Puedes conseguir tu clave mandando un email a:</p><p>contacto@email.com</p>
        </label>
      </div>
  </ion-content>
</ion-modal-view>
