<ion-view view-title="Listado">

  <ion-nav-title>
    Listado de ofertas
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <img src="/img/settings_black.png" ng-click="preferencias()" alt="Preferencias" width="34" height="34">
  </ion-nav-buttons>

  <ion-pane>    
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="oferta in ofertas" ui-sref="detalle({ofertaId: $index})">
        <div>
          <p> <h2 id="nombreOferta">{{oferta.nombre}}</h2> <h3 id="distanciaOferta">{{oferta.distancia}} m</h3> <br>
           <h3 id="descripcionOferta">{{oferta.descripcion}}</h3>  <h3 id="finOferta">{{oferta.fin}}</h3></p>
        </div>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-pane>
</ion-view>