<ion-view view-title="Listado">

  <ion-nav-title>
    Listado {{nombre}}
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="recarga()">
      <img src="img/ic_cached.png" alt="Preferencias" width="34" height="34">
    </button>
    <button class="button button-clear" ng-click="preferencias()">
      <img src="img/settings_black.png" alt="Preferencias" width="34" height="34">
    </button>
  </ion-nav-buttons>

  <ion-pane>    
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="oferta in ofertas" ui-sref="detalle({oferta: '{{oferta}}' })">
        <div>
          <p> <h2 id="nombreOfertaMain">{{decode(oferta.nombre)}}</h2> <h3 id="distanciaOferta">{{oferta.distancia}} m</h3> <br>
           <h3 id="descripcionOferta">{{oferta.descripcion_corta}}</h3>  <h3 id="finOferta">{{oferta.fin}}</h3></p>
        </div>
        </ion-item> 
      </ion-list>

      <div class="list card" id="mensajeOfertas">
        <p>Ninguna oferta disponible, por favor recarga las ofertas pulsando el botón actualizar 
        <img src="img/ic_cached.png" alt="Preferencias" width="20" height="20"> situado en la barra superior, zona derecha. </p>
        <p>Nota: Es posible que no haya ninguna oferta cercana.</p>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>