<ion-view view-title="Listado">

  <ion-nav-title>
    {{ 'TITLE' | translate }}
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="recarga()">
      <img src="img/ic_cached_white.png" alt="Preferencias" width="34" height="34">
    </button>
    <button class="button button-clear" ng-click="preferencias()">
      <img src="img/settings_white.png" alt="Preferencias" width="34" height="34">
    </button>
  </ion-nav-buttons>

  <ion-pane>    
    <ion-content>

    <ion-refresher
      pulling-text="Desliza hacia abajo para refrescar..."
      on-refresh="refresca()">
    </ion-refresher>

      <ion-list>
        <ion-item id="objetoLista" ng-repeat="oferta in ofertas" ui-sref="detalle({oferta: '{{oferta}}' })">
        <div>
          <p id="nombre" class="textoIzquierda">{{decode(oferta.nombre)}}</p> <p class="textoDerecha">{{oferta.distancia}} m</p>
          <p> <h2 id="descripcion">{{oferta.descripcion_corta}}</h2> </p>
        </div>
        </ion-item> 
      </ion-list>

      <div class="list card" id="mensajeOfertas">
        <div style="padding: 10px">
        <p>Ninguna oferta disponible, por favor recarga las ofertas pulsando el botón actualizar 
        <img src="img/ic_cached.png" alt="Preferencias" width="20" height="20"></p>
        <p>Nota: Es posible que no haya ninguna oferta cercana.</p>
        </div>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>