<ion-view view-title="Oferta">

  <ion-nav-title>
    Oferta
  </ion-nav-title>

  <ion-content>
    <div class="list card">
    <div class="oferta">
        <div class="item" id="divNombreEs">
          <p>Local: {{nombreEs}}</p>
        
          <p>Título: {{oferta.descripcion_corta}}</p>
        
          <p>{{oferta.fin_usos}}</p> 

          <p>{{oferta.fin_tiempo}}</p>
        
          <p class="descripcion">Descripcion: <br> {{oferta.descripcion}}</p>
        </div>
    </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" id="botonCanjearOferta" style="font-size: 16px;" ng-click="canjearOferta()">
          <i class="icon ion-android-checkbox-outline" id="imagenCanjearOferta"></i>
          {{textoCanjear}}
        </a>

        <a class="tab-item" id="botonComoLlegarOferta" style="font-size: 16px;" ng-click="abreMapa()">
          <i class="icon ion-map" id="imagenComoLlegarOferta"></i>
          {{textoComoLlegar}}
        </a>

        <a class="tab-item" id="botonEstadisticasOferta" style="font-size: 16px;" ng-click="activaEstadisticas()">
          <i class="icon ion-stats-bars" id="imagenComoLlegarOferta"></i>
          {{textoEstadisticas}}
        </a>

        <a class="tab-item" id="botonBorrarOferta" style="font-size: 16px;" ng-click="borrarOferta(oferta)">
          <i class="icon ion-trash-b" id="imagenBorrarOferta"></i>
          {{textoBorrar}}
        </a>
      </div>
    </div>

    <div class="list card" id="divCodigoQR">
      Muestra el siguiente código QR para aplicar tu oferta!
      <div id="qrcode" style="margin: auto; width: 200px;"></div>
    </div>

    <div class="list card" id="divEstadisticasOferta">
      <h4>Datos sobre uso:</h4>
      <p>- Veces usada: {{oferta.veces_usada}}</p>
    </div>

    <div class="list card" id="divOtrasOfertas">
      <div class="item">
        <p>Otras ofertas del mismo local:</p>
      </div>
      <div class="item">
        <p>Oferta 1</p>
      </div>
      <div class="item">
        <p>Oferta 2</p>
      </div>
    </div>

  </ion-content>
</ion-view>