<ion-view view-title="Oferta">

<ion-header-bar>

</ion-header-bar>


  <ion-content>
    <div class="list card">
    <div class="oferta">
        <div class="item">
          <h3 id="nombreOferta">{{oferta.nombre}}</h3>
        </div>
        <div class="item">
          <h2 id="nombreOferta">{{oferta.descripcion_corta}}</h2> <h2 id="finOferta">{{oferta.fin}}</h2>
        </div>
        <div class="item item-body">
          <h3>{{oferta.descripcion}}</h3>
        </div>
    </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" style="font-size: 16px;">
          <i class="icon ion-android-checkbox-outline"></i>
          Canjear
        </a>
        <a class="tab-item" style="font-size: 16px;" ng-click="abreMapa()">
          <i class="icon ion-map"></i>
          Como llegar
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>