<ion-view view-title="Preferencias" ng-controller="controladorPreferencias">

  <ion-nav-title>
    Preferencias
  </ion-nav-title>

  <ion-pane>    
    <ion-content>

      <div class="item item-divider"> 
        Notificaciones
      </div>
      
      <ion-checkbox ng-model="recibirNotificaciones.checked" ng-change="notificaciones()">Recibir notificaciones</ion-checkbox>

      <label class="item">Value1
        <input type="checkbox" ng-model="checkboxModel.value1">
      </label>

      <label class="item item-input">
        <span class="input-label">Distancia (metros)</span>
        <input type="number" value="1000"> 
      </label>

      <div class="item item-divider"> 
        Aplicación
      </div>

      <label class="item item-input">
        <span class="input-label">Idioma</span>
        <select>
          <option value="es">Español</option>
          <option value="en">English</option>
          <option value="it">Italiano</option>
          <option value="fr">Français</option>
          <option value="su">Suomi</option>
        </select>
      </label>

      <ion-item ng-click="login()">
        {{loginData.identificado}}
      </ion-item>

      <ion-item id="botonEditar" ng-click="irEditarPerfil()">
        Editar perfil
      </ion-item>

      <ion-item id="botonPublicar" class="item-icon-left" ui-sref="publicarOferta">
        Publicar oferta
        <i class="icon ion-edit" style="font-size: 32px; color: #387EF5"></i>
      </ion-item>

      <ion-item id="botonOfertasPublicadas" class="item-icon-left" ui-sref="ofertasPersonales">
        Ofertas publicadas
        <i class="icon ion-ios-paper" style="font-size: 32px; color: #387EF5"></i>
      </ion-item>

    </ion-content>
  </ion-pane>
</ion-view>