<ion-view view-title="Preferencias" ng-controller="controladorPreferencias">

  <ion-nav-title>
    Preferencias
  </ion-nav-title>

  <ion-pane>    
    <ion-content>

      <div class="item item-divider"> 
        Notificaciones
      </div>
      
      <ion-checkbox ng-model="recibirNotificaciones.checked" ng-change="notificaciones()">Recibir notificaciones</ion-checkbox>

      <ion-item class="item item-input">
        <div class="input-label">Distancia ofertas (metros)</div>
        <input type="tel" value="1000"> 
      </ion-item>

      <div class="item item-divider"> 
        Aplicación
      </div>

      <ion-item class="item-icon-left">
        <i class="icon ion-earth" style="font-size: 32px; color: #387EF5"></i>
        Idioma
        <select>
          <option value="es">Español</option>
          <option value="en">English</option>
          <option value="it">Italiano</option>
          <option value="fr">Français</option>
          <option value="su">Suomi</option>
        </select>
      </ion-item>

      <ion-item id="botonIdentificar" class="item-icon-left" ng-click="login()">
        {{loginData.identificado}}
        <i id="imagenBotonEditar" class="icon ion-log-out" style="font-size: 32px; color: #387EF5"></i>
      </ion-item>

      <ion-item id="botonEditar" class="item-icon-left" ui-sref="editarPerfil">
        Editar perfil
        <i class="icon ion-edit" style="font-size: 32px; color: #387EF5"></i>
      </ion-item>

      <ion-item id="botonPublicar" class="item-icon-left" ui-sref="publicarOferta">
        Publicar oferta
        <i class="icon ion-android-upload" style="font-size: 32px; color: #387EF5"></i>
      </ion-item>

      <ion-item id="botonOfertasPublicadas" class="item-icon-left" ui-sref="ofertasPersonales">
        Ofertas publicadas
        <i class="icon ion-ios-paper" style="font-size: 32px; color: #387EF5"></i>
      </ion-item>

      <ion-item id="botonAmpliarCuenta" class="item-icon-left" ng-click="">
        Ampliar cuenta
        <i class="icon ion-ios-pulse-strong" style="font-size: 32px; color: #387EF5"></i>
      </ion-item>

      <ion-item ng-click="borrarDatos()" class="item-icon-left">
        Borrar datos locales
        <i class="icon ion-trash-a" style="font-size: 32px; color: #387EF5"></i>
      </ion-item>

    </ion-content>
  </ion-pane>
</ion-view>