<ion-view view-title="Publicar Oferta">

	<ion-nav-title>
	  {{titulo}}
	</ion-nav-title>
	<ion-pane> 
	<ion-content>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		  	<span class="input-label">Descripción corta</span>
		    <input type="text" placeholder="La que ve el usuario en pequeño" ng-model="oferta.descripcion_corta">
		  </label>
		  <label class="item item-input item-stacked-label">
		  	<span class="input-label">Descripción larga</span>
		    <input type="text" placeholder="La descripción algo más explicada" ng-model="oferta.descripcion">
		  </label>
		  </label>
		  <label class="item item-input item-stacked-label">
		  	<span class="input-label">Duración (Dejar en blanco si sólo va a tener usos)</span>
		    <input type="datetime-local" ng-model="oferta.duracion">
		  </label>
		  <label class="item item-input item-stacked-label">
		  	<span class="input-label">Usos</span>
		    <input type="text" placeholder="Dejar en blanco si sólo va a tener duración" ng-model="oferta.usos">
		  </label>
		</div>
		<button class="button button-block button-positive" id="botonRegistro" ng-click="publicar()">Publicar</button>
	</ion-content>
	</ion-pane> 
</ion-view>