<ion-view view-title="Registro">

	<ion-nav-title>
	  {{titulo}}
	</ion-nav-title>
	<ion-pane> 
	<ion-content>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <input type="text" placeholder="Nombre" ng-model="loginData.nombre">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <input type="text" placeholder="Apellidos" ng-model="loginData.apellidos">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <input type="password" id="textPass" placeholder="Contraseña" ng-model="loginData.password">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <input type="password" placeholder="Repetir contraseña" ng-model="loginData.repassword">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <input type="text" placeholder="Correo electrónico" ng-model="loginData.email">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <input type="text" placeholder="Nombre del local" ng-model="loginData.local">
		  </label>
		  <button class="button button-block button-positive" id="boton_abre_mapa" ui-sref="mapa">
		  	Elegir ubicación del local <img src="img/ic_done.png" width="30" height="30" id="elegir_hecho" style="visibility:hidden">
		  </button>
		  <span ng-model="localizacion">Latitud: {{localizacion.latitud}} Longitud: {{localizacion.longitud}}</span>
		</div>
		<button class="button button-block button-positive" id="botonRegistro" ng-click="registra()">Regístrame</button>
	</ion-content>
	</ion-pane> 
</ion-view>