/* Empty. Add your own CSS if you like */
#nombreOferta {
	position: absolute;
}

#distanciaOferta {
	text-align: right; 
	position: relative;
	font-weight: normal;
}

#descripcionOferta {
	position: absolute;
	font-weight: normal;
}

#finOferta {
	text-align: right;
	position: relative;
	font-weight: normal;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}