#nombreOferta {
	position: absolute;
	max-width: 35%;
}

#nombreOfertaMain {
	position: absolute;
	max-width: 65%;
}

#distanciaOferta {
	text-align: right; 
	position: relative;
	font-weight: normal;
}

#descripcionOferta {
	position: absolute;
	font-weight: normal;
	max-width: 30%;
}

#finOferta {
	text-align: right;
	position: relative;
	font-weight: normal;
}

#nombre {
	max-width: 65%;
}
#descripcion {
	font-weight: normal;
}

.item p {
	color: black;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.item-complex .item-content, .item-radio .item-content {
	padding: 16px 16px 16px 16px;
}

.item-body {
	padding: 0px 16px 16px 16px;
}

.item-select select {
  padding: 14px 48px 8px 16px;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	/*background-color: #0099FF; */
}

/*
.item-complex .item-content, .item-radio .item-content {
	background: rgba(102, 255, 255, 0.4);
}

.item {
	background: rgba(102, 255, 255, 0.4);
}*/

.texto {
	color:black;
	transition:color 2s;
}

.textoError {
	/*border-bottom: solid 2px #ff0000;*/
}

input.caja {
	transition:box-shadow 2s;
	border-bottom: solid 2px #E3F2FD;
}

input.cajaError {
	/*box-shadow: inset 0px 0px 0.5em red;*/
	border-bottom: solid 2px #F44336;
}

.item {
	padding-right: 16px;
}

p.help-block {
	color: red;
	font-size: 11px;
	padding-top: 4px;
}

input.caja:focus {
	border-bottom: solid 2px #2196F3;
}

span.nav-bar-title.ng-binding , span.nav-bar-title , i.ion-arrow-left-c , span.back-text {
	color: white;
}

ion-header-bar.bar-stable.bar.bar-header.disable-user-behavior {
	    background-color: #0D47A1;
}

ion-content {
	    background-color: #F5F5F5;
}


ion-item.item.item-complex , 
ion-item.item-icon-left.item 
{
	    /*margin: 4px;
	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
	    padding-right: 0px;
}

/*
ion-item#objetoLista.item.item-complex:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
}
*/
p.textoDerecha {
	position: relative;
	text-align: right;
	color: #666;
}

p.textoIzquierda {
	position: absolute;
}

p.largo {
	white-space: normal;
	font-family: 'Raleway', sans-serif;
}

p.destacado {
	font-weight: bold;
}

#nombreLocal {
	font-size: 100%;
	font-style: italic;
}

#textoDistancia {
	text-decoration: none;
	color: #666;
}

.textoRojo {
	color: red;
}
.textoVerde {
	color: #0BDE14;
}

span.subrayado {
	text-decoration: underline;
}

p.centrado {
	text-align: center;
	padding-top: 5px;
}

.visible {
	display: 'inherit'; 
}

.invisible {
	display: 'none';
}

#qrcode {
	margin: auto; 
	width: 200px;
	padding-top: 20px;
	padding-bottom: 25px;
}